h4 {
  display: flex;
}

h4:hover {
  cursor: pointer;
}

.login-button {
  margin: 1rem 0rem;
}

.logout-button {
  margin-left: 0.5rem;
}

.delete-button {
  margin: 0.5rem 0rem;
}

.login-second-title {
  display: flex;
  margin-bottom: 1rem;
}

.blogForm {
  margin: 1rem 0rem;
}

.error {
  color: red;
  border-color: red;
  border-style: dotted;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.notification {
  color: rgb(103, 156, 22);
  border-color: rgb(103, 156, 22);
  border-style: dotted;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.toggleButton {
  margin: 0.8rem 0rem;
}

.blog {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: black;
  padding: 0.3rem;
  margin: 0.3rem 0rem;
}
